// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
.results{
  li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ecf0f1;
    font-family: Inconsolata;
  }
  dt{
    background: #ecf0f1;
    color: #444444;
    padding: 1px 5px;
    margin-right: 5px;
    word-break: normal;
  }
  dt, dd{
    display: inline;
  }
}
